<header class= 'top-page-header'>
  <div class = 'nav'>
  <%= link_to 'Tomallo', "/", class: "title" %>
  <div class= "user-nickname">
   <%= "#{current_user.nickname}さん"%>
  </div>
</div>
</header>

<div class= 'regi'>
  <%= link_to'お部屋を掲載する', new_house_path, class: "regibtn"%>
</div>


 <%= render "houses/mypage_house", collection: current_user.houses %>