.top {
  background-image: image-url('top.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}
.title{
text-decoration: none;
color:#fff;
font-size: 35px;
}